<div class="dark:bg-gray-900 h-full p-4">
  <%= render partial: 'navbar' %>

  <%= render partial: 'hero' %>
  
  <%= render partial: 'how_it_works' %>

  <%= render partial: 'about' %>

  
  <%= render partial: 'faqs' %>
  <%# render partial: 'reviews' %>

  <%# render partial: 'pricing' %>

  <%= render partial: 'footer' %>

</div>

